.contain {
  height: 1119px;
  width: 100%;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.text {
  color: #132254;
  font-family: Poppins;
  font-size: 148px;
  font-style: normal;
  line-height: 112%; /* 143.36px */
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
