.containe {
  height: 1119px;
  width: 100%;
  background-image: url(../public/section2.png);
  margin-top: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
.box {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0px;
}
.inside {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 150px;
}
.text {
  height: 302px;
  width: 628px;
  color: #132254;
  font-family: Poppins;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.text1 {
  color: #132254;
  font-family: Poppins;
  font-size: 39px;
  font-style: normal;
  font-weight: bold;
  line-height: 125%; /* 48.75px */
}
.cadre {
  width: 609px;
  height: 211px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #132254;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #132254;
  text-align: center;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 113%; /* 21.47px */
}
.button {
  width: 328px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 70px;
  background: #132254;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  text-transform: uppercase;
}
.element {
  width: 127px;
  height: 141px;
  flex-shrink: 0;
  border-radius: 13px;
  background: #fff;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.element1 {
  width: 127px;
  height: 141px;
  flex-shrink: 0;
  border-radius: 13px;
  background: #fcc42f;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
