.contain {
  height: 1119px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.left {
  width: 50%;
  height: 100%;
  background-color: #fff;

  padding: 3%;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 80%;
<<<<<<< HEAD
  height: 50%;
=======
  background: linear-gradient(rgba(0, 138, 207, 0.685), rgba(4, 152, 226, 0.5)),
    url(../public/Page6\ Bckground.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
}
.Image {
  top: 20%;
  right: 60%;
  position: absolute;
  height: 54%;
  width: 85%;
  z-index: 1000;
}
.laptop {
  height: 100%;
  width: 100%;
>>>>>>> 6a2aefdd130498357498a7c80db50c913ee2e1f1
  background-image: url(../public/Mac+Phone.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.titre {
  color: #132254;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 132%; /* 55.44px */
}
.modules {
  height: 90%;
  width: 80%;
  padding-top: 10%;
  padding-left: 5%;
  display: flex;
  gap: 5px;
}
.svg {
  height: 90%;
  width: 10%;
  background-image: url(../public/Group\ 11.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.module {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ul:hover {
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.li:hover {
  transform: scale(1.1);
  color: var(--blue);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button {
  position: absolute;
  width: 328px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 70px;
  background: #132254;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  text-transform: uppercase;
  bottom: 5%;
  left: 40%;
}
