.contain {
  height: 1119px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.left {
  width: 50%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 80%;
  height: 50%;
  background-image: url(../public/Mac+Phone.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.titre {
  color: #132254;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 132%; /* 55.44px */
}
.modules {
  height: 90%;
  width: 80%;
  padding-top: 10%;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.svg {
  height: 90%;
  width: 10%;
  background-image: url(../public/Group\ 11.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 11.3%;
}
.module {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.ul:hover {
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.li:hover {
  transform: scale(1);
  color: var(--blue);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button {
  position: absolute;
  width: 328px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 70px;
  background: #132254;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  text-transform: uppercase;
  bottom: 5%;
  left: 40%;
}
