.containe {
  height: 1300px;
  width: 100%;
  background-image: url(../public/Group\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
